body {
    background-color: #e9eaed;
}

.starter-template {
    /*padding: 40px 15px;*/
}

.main-container {
    /*margin-top: 50px;*/
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }
.top50 { margin-top:50px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom20 { margin-bottom:20px; }
.bottom30 { margin-bottom:30px; }
.bottom40 { margin-bottom:40px; }
.bottom50 { margin-bottom:50px; }

.align-with-text {
    vertical-align: text-bottom;
}

.txt11{ font-size: 80%;}
.txt13{ font-size: 92.5%; }

.img-event-item {
    width: 75px;
}

.white { color: #ffffff }

.user-secret {
    padding-top: 12px;
}

.img-user40 {width: 40px;}
.img-user30 {width: 30px;}
.img-user50 {width: 50px;}
.img-user80 {width: 80px;}
.img-user150 {width: 150px;}

.no-margin-bottom {
    margin-bottom: 0;
}

.navbar-right {
    margin-right: 0px;
}

.footer {
    margin-top: 50px;
    text-align: center;
}

.list-group-item {
    margin-bottom: 8px;
    padding: 0;
    border: 1px solid #d0d1d5;
}

.row-list {
    margin-left: -30px;
}

.fv-form-bootstrap .fv-icon-no-label {
    top: -10px;
}

.img-int-admin {
    width: 150px;
}

.marg-top5 {margin-top: 5px}
.marg-bot5 {margin-bottom: 5px}

dl.participants {
    margin-bottom: 5px;
}

div.panel-title {
    font-size: 25px;
}

.pad-left0 {
    padding-left: 0;
}

.panel-body {
    padding: 5px;
}

.right5 {margin-right: 5px }
.right10 {margin-right: 10px }
.right15 {margin-right: 15px }
.right20 {margin-right: 20px }
.right30 {margin-right: 30px }
.right40 {margin-right: 40px }

.bottom15 {margin-bottom: 15px}

.panel-default > .panel-heading {
    background-color: #ffffff;
    border-color: #d0d1d5;
}

.panel-default {
    border-color: #d0d1d5;
}

.profile-well {
    background-color: #ffffff;
    border-color: #d0d1d5;

}
