body {
    padding-top: 80px;
}
.starter-template {
    /*padding: 40px 15px;*/
}

.main-container {
    /*margin-top: 50px;*/
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.align-with-text {
    vertical-align: text-bottom;
}

.txt11{ font-size: 80%;}
.txt13{ font-size: 92.5%; }

div#events-container .panel {
    height: 295px;
}


